
@media (max-width: 1280px) {
	.section-1 .card h2 {
    font-size: 35px;
}
}
@media (max-width: 1200px) {
     
}
@media (max-width: 1024px) {
   .banner-img-container {
    max-width: 364px;
}
	
 .banner-patter-2 {
    bottom: 68px;
    right: -120px;
}
	
.banner-patter-1 {
    top: -24px;
    right: 30px;
}
.customer figure {
    width: 50%;
    top: 72px;
    height: 70vh;
}
.title {
    font-size: 65px;
}
}
 @media (max-width: 991.9px) {
    .mobile_menu{
        display: none ;
    }
    .menu_icon {
        display: block;
    }
    .banner-text .title {
    background-image: linear-gradient(to right, #8750f7 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.banner-btns .mobile_menu {
    display: inline-block;
}
.card-first-item {
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.section-1 .card h2 {
    font-size: 28px;
}
.section-1 .card-icon i {
    color: #fff;
    transform: rotate(40deg);
    font-size: 25px;
    transition: all 0.3s ease;
}
p{
    font-size: 16px;
}
.card-skills {
    margin-top: 25px;
}
.title {
    font-size: 44px;
}
.banner-patter-1 {
    max-width: 60px;
    top: -39px;
}
.banner-patter-2 {
    max-width: 74px;
     bottom: 57px;
}
.card-main {
    margin-bottom: 25px;
}
.card-main img {
    max-width: 40px;
}
.h5, h5 {
    font-size: 20px;
}
h2 {
    font-size: 35px;
}
.listitem span {
    font-size: 30px;
}
.star-scroll {
    max-width: 25px;
}
.about-us-text-content {
    text-align: center;
    margin-top: 30px;

}
.customer figure {
    width: 70%;
}
.contact_details {
    margin-top: 30px;
}
.contact_us_btn_container {
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
section {
    padding: 25px 0px;
}
}

 @media (max-width: 767px) {
    header .logo {
        font-size: 24px;
        width: 301px;
    }
    .banner-text {
    }
    .banner-text .title {
    font-size: 35px;
}
.banner-btns .mobile_menu {
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
}
    .section-1 {
        text-align: center;
    }
    .about-img {
        max-width: 250px;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .nav.nav-pills .nav-link {
        white-space: nowrap !important;
        
    }
    .nav.nav-pills{
        justify-content: initial !important;
        flex-wrap: initial !important;
        overflow-x: auto;
    }
    .h2, h2 {
        font-size:30px;
    }
    .product-card h4 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
    .product-card img {
        max-width: 200px;
    }
    .contact-us-text-container  h4 {
        font-size: 22px;
    }
    .banner-img {
        margin-top: 40px;
    }
    .banner-img-container {
    max-width: 255px;
}
.section-1 .text-start{
    margin-top: 15px !important;
}
.card-icon {
    display: none;
}
.banner {
    margin-top: 45px;
}
.section-1 .card h2 {
    font-size: 25px;
}
.nav.nav-pills{
    justify-content: center !important;
}
.card-skills {
    margin-top: 25px;
}
section {
    padding: 30px 0px;
}
.form-card {
    margin-bottom: 30px;
}
h4{
    font-size: 18px;
}
.form-card {
    padding: 15px;
}
.nav.nav-pills .nav-link {
    font-size: 16px;
}
.banner-btns {
    display: flex;
    align-items: center;
}
#contact-form .banner-btns{
    justify-content: end !important;
}
.social_icons .icons {
    width: 36px;
    height: 36px;
}
.fa-phone {
    font-size: 15px !important;
}
.social-media-fixed {
  position: fixed;
  bottom: 5px;
  right: 15px;
  display: block;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}
.social_icons .icons {
    background: #140c1c;
}
.contact_us_btn_container .button-55 {
    display: none;
}
.title {
    font-size: 30px;
    top: 12%;
}
.title-first-word {
    margin-left: -31px;
    border-radius: 15px;
}
.title-sec-word {
     margin-right: -31px;
     border-radius: 15px;
}
.banner-3-img img {
    top: 38px;
    left: 0;
}
.banner-bottom {
    padding-top: 50px;
}
.banner-patter-1 {
    display: none;
}
.banner-patter-2 {
    display: none;
}
.banner-2-img img {
    bottom: -0%;
}
.button-55 {
    padding: 7px 15px;
}
.review-card p{
    font-size: 13px;
}
figure .review-card .review-icon {
    width: 30px  !important;
    height: 30px !important;
}
}
	